/* ------------------ */
/* CSS RESET */
/* ------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: hsl(0, 0%, 100%);
}

/* ------------------ */
/* HEADER */
/* ------------------ */
.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.menu {
    display: none;
}

/* ------------------ */
/* HOME */
/* ------------------ */
#home {
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    height: 600px;
    padding: 50px 0;
}
#home .title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 4px;
    margin-top: 120px;
}
#home .arrow {
    display: block;
    margin: auto;
    margin-top: 70px;
}

/* ------------------ */
/* TRANSFORM */
/* ------------------ */
#transform {
    text-align: center;
}
#transform .background {
    background-image: url('../images/mobile/image-transform.jpg');
    background-size: cover;
    height: 320px;
}
#transform .text {
    padding: 20px 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#transform .title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 30px;
    color: hsl(212, 27%, 19%);
}
#transform .content {
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(213, 9%, 39%);
    font-size: 18px;
    line-height: 25px;
}
#transform .link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Fraunces';
    color: black;
    position: relative;
    padding: 0 4px;
    display: flex;
    justify-content: center;
}

#transform .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: hsla(51, 100%, 49%, 0.671);
    bottom: 0;
    z-index: -1;
    border-radius: 50%;
}
/* ------------------ */
/* AUDIENCE */
/* ------------------ */
#audience {
    text-align: center;
}
#audience .background {
    background-image: url('../images/mobile/image-stand-out.jpg');
    background-size: cover;
    height: 320px;
}
#audience .text {
    padding: 20px 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#audience .title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 30px;
    color: hsl(212, 27%, 19%);
}
#audience .content {
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(213, 9%, 39%);
    font-size: 18px;
    line-height: 25px;
}
#audience .link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Fraunces';
    color: black;
    position: relative;
}
#audience .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: hsla(7, 99%, 70%, 0.493);
    bottom: 0;
    z-index: -1;
    border-radius: 50%;
}
/* ------------------ */
/* JOBS */
/* ------------------ */
#jobs .graphic-design {
    background-image: url('../images/mobile/image-graphic-design.jpg');
    background-size: cover;
    height: 500px;
    color: hsl(167, 40%, 24%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}
.graphic-design .title {
    font-family: 'Fraunces';
    font-weight: 900;
    margin-bottom: 20px;
}
.graphic-design .content {
    font-family: 'Barlow';
    font-weight: 600;
}
#jobs .photography {
    background-image: url('../images/mobile/image-photography.jpg');
    background-size: cover;
    height: 500px;
    color: hsl(198, 62%, 26%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}
.photography .title {
    font-family: 'Fraunces';
    font-weight: 900;
    margin-bottom: 20px;
}
.photography .content {
    font-family: 'Barlow';
    font-weight: 600;
}
/* ------------------ */
/* TESTIMONIALS */
/* ------------------ */
#testimonials {
    text-align: center;
    padding: 40px 20px;
}
#testimonial {
    padding: 30px 0;
}
#testimonials .title {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Fraunces';
    color: hsl(232, 10%, 55%);
    letter-spacing: 4px;
    font-weight: 900;
}
#testimonials .client-photo {
    border-radius: 50%;
    margin-bottom: 30px;
}
#testimonials .quote {
    font-family: 'Barlow';
    color: hsl(213, 9%, 39%);
    margin-bottom: 20px;
    line-height: 25px;
}
.quote footer {
    padding: 20px 0;
}
#testimonials cite {
    display: block;
}
#testimonials .client-name {
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin-bottom: 5px;
    font-style: normal;
}
#testimonials .cliente-position {
    font-family: 'Barlow';
    color: hsl(232, 10%, 55%);
}
/* ------------------ */
/* GALLERY */
/* ------------------ */
#gallery {
    display: flex;
    flex-wrap: wrap;
}
.photo {
    background-size: cover;
    height: 150px;
    width: 50%;
}
.milks {
    background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
}

.orange {
    background-image: url('../images/mobile/image-gallery-orange.jpg');
}

.cone{
    background-image: url('../images/mobile/image-gallery-cone.jpg');
}

.sugar-cubes {
    background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
}

/* ------------------ */
/* FOOTER */
/* ------------------ */
#footer {
    color: hsl(167, 40%, 24%);
    background: hsl(167, 98%, 53%);
    padding: 40px 0;
    text-align: center;
}
#footer .social-media {
    margin: 20px;
}
#footer a {
    font-family: 'Barlow';
    display: inline-block;
    margin: 40px 30px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0; 
    right: 0;
    width: 100%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}